.color-area {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.edit {
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
    color: white;
    float: right;
}

.edit:hover {
    color: #fce4a1;
    transition: 0.2s;
}

.delete {
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
    color: white;
    float: right;
}

.delete:hover {
    color: #f89c9c;
    transition: 0.2s;
}

.copy {
    color: #bebebe;
    display: inline-block;
    padding: 0 0 0 10px;
}

.copy:hover {
    color: #83bd5c;
    transition: 0.2s;
}

div.card-body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0;
}

div.card-title {
    color: #616161;
    font-size: 15px;
    padding-top: 5%;
    margin: 0;
}

p.card-text {
    color: #363636;
    letter-spacing: 3px;
    font-size: 25px;
    padding-bottom: 5%;
}

div.card {
    margin: 10%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}