.actions {
    padding: 3%;
    text-align: center;
}

button.btn.btn-secondary.create {
    background-color: rgb(59, 202, 221);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    border: 0;
}

button.btn.btn-secondary.create:hover {
    background-color: rgb(64, 152, 163);
}

div.modal-header {
    background-color: #20232a;
    color: white;
}

button.close {
    color: white;
}

button.close:hover {
    color: white;
}

form.button {
    text-align: center;
}

div.modal-body {
    padding: 0% 20% 0 20%;
}

.no-color-container {
    text-align: center;
    margin: 20% 20% 15%;
    color: #b4b4b4;
    font-weight: 800;
}