.footer{ 
    bottom: 0;
    width: 100%;
    color:black;
    text-align: center;
    padding: 15px;   
}

.footer-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #a8a4a4;
    margin: 0px;
}

.footer-icons {
    text-decoration: none;
    margin: 10px 5px 10px 5px;
    height: 30px;
    width: 30px;
    filter: invert(20%);
}
  
.footer-icons:hover {
    /* opacity: 30%; */
    transition: 0.3s;
}

.divider{
    padding: 5px;
    width: 50%;
    margin-left: 25%;
}