.auth-container {
    padding-top: 2%;
}

.auth-title {
    text-align: center;
    color: rgb(65, 165, 179);
    font-family: 'Quicksand', sans-serif;
}

Label {
    font-size: 12px;
    font-weight: 500;
    color: #646464;
}

.user-button {
    margin: 5%;
    background-color: rgb(70, 197, 214);
    color: white;
    padding: 10px 70px;
    border-radius: 5px;;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    outline: 0;
    border: 0;
    display: inline-block;
    font-size: 16px;
}

.user-button:hover {
    background-color: rgb(65, 165, 179);
    transition: 0.2s;
}

span.input-group-text{
    background-color: transparent;
}

.auth-link {
    text-align: center;
    color: rgb(150, 150, 150);
}

/* Validation */

.form-message {
    font-size: 10px;
    padding-bottom: 4%;
    font-size: 14px;
  }
  .form-message.valid {
    color: #4caf50;
    font-size: 14px;
  }
  .form-message.invalid {
    color: #f44336;
    font-size: 14px;
  }
  
  .has-error {
    border: 1px solid #f44336;
    border-radius: 4px;
  }